/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ml-2{
  margin-left: .5rem;
}
.mr-2{
  margin-right: .5rem;
}

.w-100{
  width: 100%;
}
.userRole{
  display: flex;
}
.userRole .avatar{
  float: left;
  margin-right: 10px;
}
.userRole .role{
  display: block;
  padding-top: 10px;
}
.appHeaderTitle {
  color: #ffffff;
  text-decoration: none;
}